{% extends 'base.html' %}

{% block content %}
  <h2>Editar Pedido</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Actualizar</button>
  </form>

  <!-- Formulario para eliminar el pedido -->
  <form method="post" action="{% url 'pedido_delete' pedido.pk %}" style="margin-top: 20px;">
    {% csrf_token %}
    <button type="submit" style="color: white; background-color: red; border: none; padding: 10px 20px; cursor: pointer;">Eliminar Pedido</button>
  </form>

{% endblock %}