{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Detalles del Pedido</h2>

    <div class="pedido-detail">
      <p><strong>Cliente:</strong> {{ pedido.cliente.nombre }}</p>
      <p><strong>Fecha de Pedido:</strong> {{ pedido.fecha }}</p>
      <p><strong>Producto:</strong> {{ pedido.producto }}</p>
      <p><strong>Cantidad:</strong> {{ pedido.cantidad }}</p>
      <p><strong>Precio Total:</strong> ${{ pedido.precio_total }}</p>
      <p><strong>Estado:</strong> {{ pedido.estado }}</p>

      <a href="{% url 'pedido_list' %}" class="btn btn-secondary">Volver a la lista de pedidos</a>
      <a href="{% url 'pedido_update' pedido.pk %}" class="btn btn-primary">Editar Pedido</a>
    </div>
  </div>
{% endblock %}
